a {
  &.MuiButton-containedPrimary {
    background: $primaryColor;
    border-radius: 50px;
    padding: 8px 25px;
    &:hover {
      background: darken($primaryColor, 20%);
    }
  }
}

button {
  &.MuiButton-containedPrimary {
    background: $primaryColor;
    border-radius: 50px;
    padding: 8px 25px;
    &:hover {
      background: darken($primaryColor, 20%);
    }
  }
}

.MuiPaginationItem-root {
  &.Mui-selected {
    background: $secondaryColor;
  }
}

.MuiButton-textPrimary,
&.MuiButton-text {
  color: #674ABE;
  &:hover {
    color: darken($secondaryColor, 20%);
  }
}
