.dashboard-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-top: 64px;
  // background-color: #FFF;
  @media (min-width: 1200px) {
    padding-left: 256px;
  }
}

.card-bg {
  background-color: $primaryColor;
  strong {
    color: white;
  }
  small {
    color: rgba(255, 255, 255, 0.53);
  }

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0 7%;
    width: 86%;

    li {
      svg {
        color: $secondaryColor;
      }
      small {
        color: white;
        font-weight: bolder;
      }
      color: white;
    }
  }
}

.dashboard-container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.dashboard-content {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  border-left: none;
}

.main-layout-root {
  background: red;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  margin-top: 2em;
  background-color: red;
}

.main-layout-container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.main-layout-content {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}
