.dashboard-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .dashboard-container {
    width: 100%;
  }
}