/*
* General Variables
*
*/
$primaryColor: #254754;
$secondaryColor: #d85a57;
$accentColor: #C8F8E1;

/*
*
* Text Specific
*
*/

$offsetColor: #ffffff;
$highlightColor: #56a3a5;

/*
*
* Backgrounds Specific
*
*/

$darkerPrimaryColor: #0D1F25;

$lg: 1200px;
