.nav {
  li {
    margin-bottom: 10px;
    a {
      img {
        margin: 0px 10px;
      }
      span {
        color: $accentColor;
        svg {
          color: $secondaryColor;
        }
      }
      svg {
        color: $secondaryColor;
      }
      
    }
    &.active {
      background: #fff;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      a {
        span {
          &.titleName {
            color: #669CFF !important;
          }
        }
      }
    }
  }
}
