{
    "package": "sample-test",
    "name": "sample",
    "security": { "test": {} },
    "apps": {
        "firebase": {
            "host": "api.sample.io",
            "credentials": {
                "token": "",
                "apiKey": ""
            }
        }
    }
}
